@charset "utf-8";
/* CSS Document */

html, body {
	height:100%;
	width:100%;
    background-image: linear-gradient(to bottom right, #85a2f9, #164df3);
	overflow:hidden;
}

#helperOuterDiv {
	height:inherit;
	display:table;
}

#helperDiv {
	height:inherit;
	display:table-cell;
	vertical-align:middle;
}

button {
    background-color: coral;
	color: #333;
	font-size: 18px;
}

p {
	margin-right:10px;
}

#open {	
}

